!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title Twitter Bootstrap
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %meta{:content => "", :name => "description"}
          %meta{:content => "", :name => "author"}
            / Le styles
            %link{:href => "assets/css/bootstrap.css", :rel => "stylesheet"}
              %link{:href => "assets/css/bootstrap-responsive.css", :rel => "stylesheet"}
                %link{:href => "assets/css/docs.css", :rel => "stylesheet"}
                  %link{:href => "assets/js/google-code-prettify/prettify.css", :rel => "stylesheet"}
                    / Le HTML5 shim, for IE6-8 support of HTML5 elements
                    /[if lt IE 9]
                      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                    / Le fav and touch icons
                    %link{:href => "assets/ico/favicon.ico", :rel => "shortcut icon"}
                      %link{:href => "assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
                        %link{:href => "assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
                          %link{:href => "assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
                            %link{:href => "assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
  %body{"data-spy" => "scroll", "data-target" => ".bs-docs-sidebar"}
    /
      Navbar
      \==================================================
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "./index.html"} Bootstrap
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "./index.html"} Home
              %li
                %a{:href => "./getting-started.html"} Get started
              %li
                %a{:href => "./scaffolding.html"} Scaffolding
              %li
                %a{:href => "./base-css.html"} Base CSS
              %li
                %a{:href => "./components.html"} Components
              %li
                %a{:href => "./javascript.html"} Javascript
              %li
                %a{:href => "./customize.html"} Customize
    .jumbotron.masthead
      .container
        %h1 Bootstrap
        %p Sleek, intuitive, and powerful front-end framework for faster and easier web development.
        %p
          %a.btn.btn-primary.btn-large{:href => "assets/bootstrap.zip"} Download Bootstrap
        %ul.masthead-links
          %li
            %a{:href => "http://github.com/twitter/bootstrap"} GitHub project
          %li
            %a{:href => "./extend.html"} Extend
          %li Version 2.1.1
    .bs-docs-social
      .container
        %ul.bs-docs-social-buttons
          %li
            %iframe.github-btn{:allowtransparency => "true", :frameborder => "0", :height => "20px", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true", :width => "100px"}
          %li
            %iframe.github-btn{:allowtransparency => "true", :frameborder => "0", :height => "20px", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true", :width => "98px"}
          %li.follow-btn
            %a.twitter-follow-button{"data-link-color" => "#0069D6", "data-show-count" => "true", :href => "https://twitter.com/twbootstrap"} Follow @twbootstrap
          %li.tweet-btn
            %a.twitter-share-button{"data-count" => "horizontal", "data-related" => "mdo:Creator of Twitter Bootstrap", "data-url" => "http://twitter.github.com/bootstrap/", "data-via" => "twbootstrap", :href => "https://twitter.com/share"} Tweet
    .container
      .marketing
        %h1 Introducing Bootstrap.
        %p.marketing-byline Need reasons to love Bootstrap? Look no further.
        .row-fluid
          .span4
            %img{:src => "assets/img/bs-docs-twitter-github.png"}
              %h2 By nerds, for nerds.
              %p
                Built at Twitter by
                %a{:href => "http://twitter.com/mdo"} @mdo
                and
                = succeed "," do
                  %a{:href => "http://twitter.com/fat"} @fat
                Bootstrap utilizes
                = succeed "," do
                  %a{:href => "http://lesscss.org"} LESS CSS
                is compiled via
                = succeed "," do
                  %a{:href => "http://nodejs.org"} Node
                and is managed through
                %a{:href => "http://github.com"} GitHub
                to help nerds do awesome stuff on the web.
          .span4
            %img{:src => "assets/img/bs-docs-responsive-illustrations.png"}
              %h2 Made for everyone.
              %p
                Bootstrap was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via
                %a{:href => "./scaffolding.html#responsive"} responsive CSS
                as well.
          .span4
            %img{:src => "assets/img/bs-docs-bootstrap-features.png"}
              %h2 Packed with features.
              %p
                A 12-column responsive
                = succeed "," do
                  %a{:href => "./scaffolding.html#grid"} grid
                dozens of components,
                = succeed "," do
                  %a{:href => "./javascript.html"} javascript plugins
                typography, form controls, and even a
                %a{:href => "./customize.html"} web-based Customizer
                to make Bootstrap your own.
        %hr.soften
          %h1 Built with Bootstrap.
          %p.marketing-byline
            For even more sites built with Bootstrap,
            %a{:href => "http://builtwithbootstrap.tumblr.com/", :target => "_blank"} visit the unofficial Tumblr
            or
            = succeed "." do
              %a{:href => "./getting-started.html#examples"} browse the examples
          .row-fluid
            %ul.thumbnails.example-sites
              %li.span3
                %a.thumbnail{:href => "http://soundready.fm/", :target => "_blank"}
                  %img{:alt => "SoundReady.fm", :src => "assets/img/example-sites/soundready.png"}
              %li.span3
                %a.thumbnail{:href => "http://kippt.com/", :target => "_blank"}
                  %img{:alt => "Kippt", :src => "assets/img/example-sites/kippt.png"}
              %li.span3
                %a.thumbnail{:href => "http://www.fleetio.com/", :target => "_blank"}
                  %img{:alt => "Fleetio", :src => "assets/img/example-sites/fleetio.png"}
              %li.span3
                %a.thumbnail{:href => "http://www.jshint.com/", :target => "_blank"}
                  %img{:alt => "JS Hint", :src => "assets/img/example-sites/jshint.png"}
    /
      Footer
      \==================================================
    %footer.footer
      .container
        %p.pull-right
          %a{:href => "#"} Back to top
        %p
          Designed and built with all the love in the world
          %a{:href => "http://twitter.com/twitter", :target => "_blank"} @twitter
          by
          %a{:href => "http://twitter.com/mdo", :target => "_blank"} @mdo
          and
          = succeed "." do
            %a{:href => "http://twitter.com/fat", :target => "_blank"} @fat
        %p
          Code licensed under the
          = succeed "." do
            %a{:href => "http://www.apache.org/licenses/LICENSE-2.0", :target => "_blank"} Apache License v2.0
          Documentation licensed under
          = succeed "." do
            %a{:href => "http://creativecommons.org/licenses/by/3.0/"} CC BY 3.0
        %p
          Icons from
          = succeed "," do
            %a{:href => "http://glyphicons.com"} Glyphicons Free
          licensed under
          = succeed "." do
            %a{:href => "http://creativecommons.org/licenses/by/3.0/"} CC BY 3.0
        %ul.footer-links
          %li
            %a{:href => "http://blog.getbootstrap.com"} Read the blog
          %li
            %a{:href => "https://github.com/twitter/bootstrap/issues?state=open"} Submit issues
          %li
            %a{:href => "https://github.com/twitter/bootstrap/wiki"} Roadmap and changelog
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
    %script{:src => "assets/js/jquery.js"}
    %script{:src => "assets/js/google-code-prettify/prettify.js"}
    %script{:src => "assets/js/bootstrap-transition.js"}
    %script{:src => "assets/js/bootstrap-alert.js"}
    %script{:src => "assets/js/bootstrap-modal.js"}
    %script{:src => "assets/js/bootstrap-dropdown.js"}
    %script{:src => "assets/js/bootstrap-scrollspy.js"}
    %script{:src => "assets/js/bootstrap-tab.js"}
    %script{:src => "assets/js/bootstrap-tooltip.js"}
    %script{:src => "assets/js/bootstrap-popover.js"}
    %script{:src => "assets/js/bootstrap-button.js"}
    %script{:src => "assets/js/bootstrap-collapse.js"}
    %script{:src => "assets/js/bootstrap-carousel.js"}
    %script{:src => "assets/js/bootstrap-typeahead.js"}
    %script{:src => "assets/js/bootstrap-affix.js"}
    %script{:src => "assets/js/application.js"}