<h1>New project</h1>

<%= form_for @project, :html => {:class => 'form-vertical', :multipart => true} do |f| %>
  <%= f.file_field :video %>
  <%= f.submit %>
<% end %>


<%= render 'form' %>

<%= link_to 'Back', projects_path %>
