<header class="navbar navbar-inverse navbar-fixed-top">
	<nav class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<%= link_to "Tag-It", root_path, :class => 'brand' %>
			<div class="nav-collapse collapse">
				<div class= "pull-right">
					<% if user_signed_in? %>
					<%= link_to '<i class="icon-signout"></i> Signout'.html_safe, destroy_user_session_path, :method=>'delete', :class=>'btn btn-small', :title => 'Signout', :rel => 'tooltip' %>
					<% else %>
						<%= link_to '<i class="icon-signin"></i> Signin'.html_safe, new_user_session_path, :class=>'btn btn-small', :title => 'Signin', :rel => 'tooltip' %>
						<!-- <form class="navbar-form pull-right">
							<input class="span2" type="text" placeholder="Email">
							<input class="span2" type="password" placeholder="Senha">
							<button type="submit" class="btn btn-small" title="Login" rel"tooltip"><i class="icon-signin"></i></button>
						</form> -->
					<% end %>
				</div>
				<ul class="nav">
					<% if user_signed_in? %>
					<li>
						<%= link_to('Edit account', edit_user_registration_path) %>
					</li>
					<% if current_user.has_role? :admin %>
					<li>
						<%= link_to('Admin', users_path) %>
					</li>
					<% end %>
					<% else %>
					<li>
						<%= link_to('Sign up', new_user_registration_path)  %>
					</li>
					<% end %>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>